.todo-input-container {
  position: relative;
}

.todo-input {
  width: 100%;
  padding: 1.2em;
  padding-left: 4em;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 17px;
}
.todo-input:focus {
  outline: none;
}

.check-icon {
  position: absolute;
  top: 18px;
  left: 15px;
  display: none;
}

.todo-radio-submit[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  transform: scale(2);
  top: 22px;
  left: 15px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid hsl(233, 11%, 84%);
}

/* .todo-radio-submit[type="radio"]:checked {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
} */

/* Input */

.todo-input-dark {
  background-color: hsl(235, 24%, 19%);
  color: hsl(234, 39%, 85%);
}
