.todo-check[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  transform: scale(2);
  top: 20px;
  left: 15px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid hsl(233, 11%, 84%);
  background-position: center;
}

.todo-check[type="checkbox"]:checked {
  background-image: url("../../images/icon-check.svg"),
    linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-repeat: no-repeat;
}

.todo {
  position: relative;
  display: flex;
  padding: 1em 1em;
  border-bottom: 1px solid hsl(236, 33%, 92%);
}

.todo-text {
  margin-left: 2em;
  flex: 1;
  color: hsl(235, 19%, 35%);
}

.completed {
  color: hsl(236, 9%, 61%);
  text-decoration: line-through;
}

.delete-btn,
.btn {
  background: none;
  border: none;
}

.todo-dark {
  color: hsl(234, 39%, 85%);
}
.dark-completed {
  color: hsl(233, 14%, 35%);
}
.todo-dark-border {
  border-bottom: 1px solid hsl(237, 14%, 26%);
}
