.header-banner {
  background-image: url("../../images/bg-mobile-light.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
}

.header-banner h2 {
  color: #fff;
  letter-spacing: 5px;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  padding: 2em 0;
}

.dark-header-banner {
}
