.header-banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
}

.header-banner h2 {
  color: #fff;
  letter-spacing: 5px;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  padding: 2em 0;
}

.header-banner-dark-mobile {
  background-image: url("../../images/bg-mobile-dark.jpg");
}
.header-banner-light-mobile {
  background-image: url("../../images/bg-mobile-light.jpg");
}

/* Deskop Background Images */
.header-banner-dark-desktop {
  background-image: url("../../images/bg-desktop-dark.jpg");
}
.header-banner-light-desktop {
  background-image: url("../../images/bg-desktop-light.jpg");
}

.instruction {
  margin-top: 2em;
  text-align: center;
  color: #5e5f77;
}

.dark-instruction {
  color: #5e5f77;
}
