.filters .filter-link {
  color: hsl(236, 9%, 61%);
  font-weight: 700;
  margin: 0 1em;
}

.filters {
  display: flex;
  justify-content: center;
}

.active {
  color: hsl(220, 98%, 61%) !important;
}
