* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  background-color: hsl(236, 33%, 92%);
}

a {
  text-decoration: none;
}

/* Container */
.container {
  max-width: 90%;
  margin: 0 auto;
}

.clickable {
  cursor: pointer;
}

@media screen and (min-width: 781px) {
  .filters-container {
    display: none;
  }
}
.fix-width-container {
  max-width: 800px;
  margin: 0 auto;
}

.fix-width-container-todo {
  max-width: 800px;
  margin: 1em auto !important;
}

.btn {
  border: 0;
  background: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 17px;
}
